/* main article{

  background-color: turquoise;
} */

main article h1{
  
    color: #081e58;
    font-weight: 900;
    text-transform: capitalize;
  }


  #container{

    color: #2349b1;
    font-weight: 900;
    text-transform: capitalize;
    
  }


  body{
    /* display: flex; */
    background-color: rgb(222, 226, 165);
    justify-content: center;
    align-items: center;
    height: auto;
  }

  body a { 
    font-size: 50px;
  }

  td, th {
    width: 50px;
    border: 1px solid rgb(12, 6, 6);
    padding: 5px;
    text-align: center;
    
  }
  
  th {
    vertical-align: middle;
    background: #28527a;
    color: #f4d160;
  }
  
  .a1{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    margin: 25px;
  }
  h1{

    font-size: 70px;
    color: rgb(56, 12, 107);
    
  }
  div{
    vertical-align: middle;
    text-align: center;

  }
  a{
    vertical-align: middle;
    text-align: center;

  }

  form {
    text-align: right;
    padding-right: 25px;
  }

  label {
    margin: 20px 5px; 
  }
  
  input {
    margin: 10px 30px;
  }

  #add-store {
    
    color: rgb(0, 34, 128);
  }
  legend {
    padding: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
  }

  