/* main article{

  background-color: turquoise;
} */

main article h1{
  
    color: #081e58;
    font-weight: 900;
    text-transform: capitalize;
  }


  #container{

    color: #2349b1;
    font-weight: 900;
    text-transform: capitalize;
    
  }


  body{
    display: flex;
    background-color: rgb(222, 226, 165);
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  body a { 
    font-size: 50px;
  }

  td, th {
    width: 50px;
    border: 1px solid rgb(12, 6, 6);
    padding: 5px;
    text-align: center;
  }
  
  th {
    vertical-align: middle;
    background: #28527a;
    color: #f4d160;
  }
  
  .a1{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
  }
  h1{

    font-size: 100px;
  }
  div{
    vertical-align: middle;
    text-align: center;

  }
  a{
    vertical-align: middle;
    text-align: center;

  }